

html {
    box-sizing:border-box;
    font-size: 62.5%;/**Reset para REMS -62.5% = 10px de 16px **/
}
*,*:before, *:after {   /**con el box de arriba y esto hace que no aumente el tamañao si agregamos un padding y un margin **/
    box-sizing: inherit;
}


/**Fuentes para el body "todo"**/

body{ 
font-family: "Lato", sans-serif ;
font-size: 1.6rem;
line-height: 2;
}

/** Globales**/
img {
    max-width: 100%;
}
fieldset {
    background-color: #eeeeee;
    
}
.contenedor {
    max-width: 120rem; /** == 1200px**/
    /** Margenes arriba izquierda abajo derecha **/
    /**margin: 0 auto 0 auto; **/
    margin: 0 auto;
    /**margin-left: auto;
    margin-right: auto; **/
}
h1 {
    font-size: 3.8rem;

}
h2{
    font-size: 3.4rem;
}
h3{
    font-size: 3rem;
}

h4{ 
    font-size: 2.6rem;

}
/** Utilidades**/

.seccion{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.fw-300{
    font-weight: 300;

}
.centrar-texto{
    text-align: center;
}

.d-block {
    display: block!important;

}
.contenido-centrado{
    max-width: 80rem;    
}
    
/** Botones **/
.boton:hover{
    cursor: pointer;
}
.boton {
    color: white;
    font-weight: 700;
    text-decoration: none;
    font-size: 1.8rem;
    padding: 1rem 3rem ;/** 1rem  arriba y 3 izq y derecha**/
    margin-top: 2.5rem;
    display: inline-block;
    text-align: center;
    border:none;

}

.boton-amarillo{
    background-color: #E08709;

}
.boton-verde{
    background-color: #71B200;

}
/*Header*/
.site-header{
    background-color:#333333;
    padding: 1rem 0 3rem 0;


}
.site-header.inicio {
    background-image:url(../img/header.jpg); 
    background-position: center center;
    background-size: cover;
    height: 120vh; 
    min-height: 60rem; /** =600px**/    
}
.contenido-header{
    height: 100%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
.contenido-header h1 {
    color:white;
    padding-bottom: 2rem;
    max-width: 60rem; 
    line-height: 2; /** separación entre lineas**/
}
.barra{

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top:3rem;
}


/**Navegación**/
.navegacion a {
    color:whitesmoke;
    text-decoration: none;
    font-size:1.8rem; /** = 18px**/
    margin-right: 1rem;

}
/** Pone color verde cuando pones el cursor encima de las letras **/

.navegacion a:hover {
    color: #718100;

}

.navegacion a:lat-of-type{
    margin:0;
}

/** Iconos nosotros**/

.iconos-nosotros {    
    display: flex;   
    justify-content: space-between;       
}
.icono{    
    flex-basis:calc(33.3% - 1rem);
    text-align: center;
    
}
.icono h3 {
    text-transform: capitalize;
}

/** ANUNCIOS **/
.contenedor-anuncios{    
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
.anuncio{
    flex: 0 0 calc(33% - 1rem);
    /**flex-grow: 0; grande
    flex-shrink: 0;
    flex-basis: calc(33.3% - 1 rem); 
    poner lineal o borde al recuadro border-style: dashed;      
    border-color: #B5B5B5; 
    border-width: 1px;**/
    border: 1px solid #b5b5b5;
    background-color: #F5F5F5;
    margin-bottom: 2rem;
}
.contenido-anuncio{
    padding: 2rem; /** coloca a todas las direcciones **/
}

.contenido-anuncio h3,
.contenido-anuncio p  {
    margin:0;
}
.precio{
    color:#718100;
    font-weight: 700;    
}
.iconos-caracteristicas{
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    flex:1;
    max-width: 50rem;

}
.iconos-caracteristicas li{
    /*flex:1;*/
    display: flex;
    
}
.iconos-caracteristicas li img {
    margin-right: 2rem;
}

.ver-todas{
    display: flex;
    justify-content: flex-end;
}

/** Contacto Home **/
.imagen-contacto{
    background-image:url(../img/encuentra.jpg);
    background-position:center center;
    background-size:cover;
    height: 40rem;
    display: flex;
    align-items: center;
}
.contenido-contacto{
    flex: 1; /** factor de crecimiento y detecta el tamaño disponoble y el elemento y lo coloca con el máximo que se pueda **/
    color: white;
}
.contenido-contacto p {
    font-size: 1.8rem;
    font-weight: 700;
}
/** Sección inferior**/

.seccion-inferior {
    display: flex;
    justify-content: space-between;
}
.seccion-inferior.blog{
    flex-basis: 60%;

}
.seccion-inferior .testimoniales{
    flex-basis: calc(40% - 2rem);

}
.entrada-blog {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2.3rem;
}
.entrada-blog:lat-of-type{
    margin-bottom: 0;
}
.entrada-blog .imagen {
    flex-basis: 40%;

}
.entrada-blog .texto-entrada { 
    flex-basis: calc(60% - 3rem);

}
.texto-entrada a{ 
    color: black;
    text-decoration: none;
}
.texto-entrada h4{
    margin: 0;
    line-height: 1.5;
}

.texto-entrada h4::after{
    content: "";
    display: block;
    width: 15rem;
    height: .5rem;
    background-color: #718100;
    margin-top:1rem;

}
.texto-entrada span{
    color: #E08709;
}
/** Testimoniales **/

.testimonial {
    background-color: #71B100;
    font-size: 1.9rem;
    padding: 1rem;
    color: #ffffff;
    border-radius: 2rem;
}
.testimonial p {
    text-align: right;
}
.testimonial blockquote::before {
    content: '';
    background-image: url(../img/comilla.svg);
    width: 5rem;
    height: 5rem;
    position: absolute;
    left: -2rem;
   

}
.testimonial blockquote{
    position: relative;
    padding-left: 5rem;
    font-weight: 300;
}

/** Footer **/

.site-footer{
    background-color: #333333;
    margin:0;    
}
.contenedro-footer{
    padding: 3rem 0;
    display: flex;
    justify-content: space-between;
    color:white
}


.copyright{
    margin :0;
}


/** Páginas Internas **/
/** Nosotros**/
.contenido-nosotros{
    display: grid;
    grid-template-columns: 50% 50%; /* alternativa tb 1fr 1fr una fracción paracada columna, repeat(2 elemntos, 50%) */
    grid-column-gap: 2rem;
}
.texto-nosotros blockquote{
    font-weight: 900;
    font-size: 2rem;
    margin: 0;
    padding: 0.3rem 0.3rem 0rem 0.3rem;
}


/** Anuncio **/
.resumen-propiedad{
    display:flex;
    justify-content: space-between;
    align-items: center;
}


/** Contacto**/
.contacto p{
    font-size: 1.5rem;
    color:#4f4f4f;
    margin:2rem 0 0 0;
}
legend{
    font-size: 2.5rem;
    color: rgb(17, 83, 52);

}

label{ 
    font-weight: 700;
    text-transform: uppercase;
    display:block;
}

input:not([type="submit"]),
textarea,
select{ 
    padding: 1rem;
    background-color: #abebc6;
    display:block;
    width: 100%;
    margin-bottom: 2rem ;
    border:none;
    border-radius: 1rem;

}
input[type="radio"]{
    width: auto;
    margin:0;
}
select{
    -webkit-appearance: none;
    appearance: none;
}
textarea{
    height: 15rem;  
}
.forma-contacto{
    max-width: 40rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.submit{
    background-color: #176e06;
    
}